@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
.btn {
  background: #ffffff;
  border: 2px solid #485563;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: #485563;
}

.btn:hover {
  cursor: pointer;
  background: #485563;
  color: white;
}

.btn.btn-danger {
  border-color: red;
  color: red;
}

.btn.btn-danger:hover {
  background-color: red;
  color: white;
}

.btn.btn-disabled {
  background: #ffffff;
  border: 2px solid #c5c5c5;
  color: #c5c5c5;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

.select {
  padding: 2px 6px;
  min-width: 180px;
  background-color: #fafafa;
  border: 1px solid #cacece;
}

.btn {
  background: #ffffff;
  border: 2px solid #485563;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: #485563;
}

.btn:hover {
  cursor: pointer;
  background: #485563;
  color: white;
}

.btn.btn-danger {
  border-color: red;
  color: red;
}

.btn.btn-danger:hover {
  background-color: red;
  color: white;
}

.btn.btn-disabled {
  background: #ffffff;
  border: 2px solid #c5c5c5;
  color: #c5c5c5;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

.select {
  padding: 2px 6px;
  min-width: 180px;
  background-color: #fafafa;
  border: 1px solid #cacece;
}

#sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  min-width: 80px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #485563), to(#29323c));
  background: linear-gradient(180deg, #485563 5%, #29323c 100%);
}

#sideNav ul {
  display: inline-block;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

#sideNav ul li {
  width: 100%;
  margin-bottom: 2rem;
}

#sideNav ul li.active .fas {
  background: -webkit-gradient(linear, left top, right top, from(#56ccf2), to(#2f80ed));
  background: linear-gradient(90deg, #56ccf2 0%, #2f80ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sideNav ul li .nav-item {
  color: rgba(189, 203, 219, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sideNav ul li .nav-item:hover {
  cursor: pointer;
}

#sideNav ul li .nav-item:hover .fas {
  background: -webkit-gradient(linear, left top, right top, from(#56ccf2), to(#2f80ed));
  background: linear-gradient(90deg, #56ccf2 0%, #2f80ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sideNav ul li .nav-item i {
  font-size: 1.8rem;
  padding-bottom: 6px;
}

#sideNav ul li .nav-item p {
  text-align: center;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#sideNav .nav-divider {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  margin-bottom: 2rem;
  background-color: rgba(189, 203, 219, 0.8);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

body .overlay.active {
  display: block;
}

#map {
  position: fixed;
  left: 80px;
  width: calc(100vw - 80px);
  height: 100vh;
}

.submenu {
  position: absolute;
  left: -100%;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submenu.active {
  display: block;
  left: 80px;
  height: 100vh;
  min-width: 300px;
  background: white;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.submenu.active .submenu-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #485563), to(#29323c));
  background: linear-gradient(90deg, #485563 5%, #29323c 100%);
  padding: 1rem 2rem 1rem 3rem;
  color: rgba(189, 203, 219, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submenu.active .submenu-header h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.submenu.active .submenu-header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}

.submenu.active .submenu-header .close-submenu:hover {
  cursor: pointer;
}

.submenu.active .submenu-content {
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #757575;
}

.submenu.active .submenu-content h4 {
  margin-bottom: 1rem;
}

.submenu.active .submenu-content > div {
  margin-bottom: 1.5rem;
}

#map-style-selection #map-selection-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

#map-style-selection #map-selection-grid div {
  background-size: cover;
  height: 100px;
  width: 100px;
}

#map-style-selection #map-selection-grid div:hover {
  cursor: pointer;
  border: 2px solid lightskyblue;
}

#map-style-selection #map-selection-grid div.active {
  border: 2px solid lightskyblue;
}

#accidents #bulk-accident-import form {
  margin-bottom: 1.5rem;
}

#accidents #bulk-accident-import form input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#accidents #bulk-accident-import form label {
  display: block;
  width: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  background: #eee;
  border-radius: 8px;
  border: 4px dashed #dad5d5;
  padding: 1.5rem;
}

#accidents #bulk-accident-import form label:hover {
  cursor: pointer;
}

#accidents #bulk-accident-import form button {
  display: none;
}

#accidents #bulk-accident-import form button.active {
  display: block;
}

#accidents #accident-data-table {
  display: none;
}

#accidents #accident-data-table.active {
  display: block;
}

#accidents button#clear-map-button {
  display: none;
  width: 100%;
  margin: 0 auto;
}

#filters #accident-type-filter .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

#filters #accident-type-filter .checkbox-container:last-of-type {
  margin-bottom: 0;
}

#filters #accident-type-filter .checkbox-container input:hover {
  cursor: pointer;
}

#filters #accident-type-filter .checkbox-container label {
  display: inline-block;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

#filters #proximity-filter h4 {
  margin-bottom: 0;
}

#filters #proximity-filter #slider-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#filters #proximity-filter #slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

#filters #proximity-filter #slider-container label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 0.5rem;
}

#filters #streetname-filter select {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

#filters #streetname-filter select:hover {
  cursor: pointer;
}

#filters #streetname-filter select option {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

#filters #streetname-filter p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
}

#print #print-general-settings p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

#print #print-general-settings select:first-of-type {
  margin-bottom: 0.6rem;
}

#print #print-scale .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

#print #print-scale .checkbox-container:last-of-type {
  margin-bottom: 0;
}

#print #print-scale .checkbox-container input:hover {
  cursor: pointer;
}

#print #print-scale .checkbox-container label {
  display: inline-block;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

#print #print-scale select {
  margin-top: 0.6rem;
}

#print #print-margins #margin-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6rem;
}

#print #print-margins #margin-input-container input {
  display: inline-block;
  width: 60px;
  text-align: center;
  padding: 4px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  margin-right: 6px;
}

#print #print-margins #margin-input-container input:last-of-type {
  margin-right: 0;
}

#accident-upload-modal {
  position: fixed;
  top: 50%;
  left: calc(50% + 240px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 1rem;
  display: none;
  z-index: 15;
}

#accident-upload-modal.active {
  display: block;
}

#accident-upload-modal #accident-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

#accident-upload-modal #accident-modal-content #accident-import-status {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  white-space: nowrap;
}

#accident-upload-modal #accident-modal-content #accident-import-status i.fa-map {
  color: rgba(238, 238, 238, 0.6);
  font-size: 11rem;
}

#accident-upload-modal #accident-modal-content #accident-import-status i.fa-check {
  color: #62eb4b;
  font-size: 3.2rem;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#accident-upload-modal #accident-modal-content #accident-import-status h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#accident-upload-modal #accident-modal-content #accident-import-stats {
  padding-left: 7rem;
}

#accident-upload-modal #accident-modal-content #accident-import-stats span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

#accident-upload-modal #accident-modal-content #accident-import-stats span:last-of-type {
  margin-bottom: 0;
}

#accident-upload-modal #accident-modal-content #accident-import-stats span h4 {
  display: inline;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

#accident-upload-modal #accident-modal-content #accident-import-stats {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#accident-upload-modal button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

.mapboxgl-popup {
  min-width: 280px;
  max-width: 400px !important;
}

.mapboxgl-popup-content {
  padding: 1rem;
}

.mapboxgl-popup-content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.mapboxgl-popup-content .popup-divider {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 6px;
}

.mapboxgl-popup-content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
}

.mapboxgl-popup-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 8px;
}

.mapboxgl-popup-content:hover {
  cursor: pointer;
}

.mapboxgl-popup-close-button {
  padding: 4px;
}
/*# sourceMappingURL=style.css.map */