@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
.btn.btn-disabled {
  background: #ffffff;
  border: 2px solid #c5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: #c5c5c5;
}

.btn:hover {
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

.btn.btn-disabled {
  background: #ffffff;
  border: 2px solid #c5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: #c5c5c5;
}

.btn:hover {
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

#sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  min-width: 80px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #485563), to(#29323c));
  background: linear-gradient(180deg, #485563 5%, #29323c 100%);
}

#sideNav ul {
  display: inline-block;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

#sideNav ul li {
  width: 100%;
  margin-bottom: 2rem;
}

#sideNav ul li.active .fas {
  background: -webkit-gradient(linear, left top, right top, from(#56ccf2), to(#2f80ed));
  background: linear-gradient(90deg, #56ccf2 0%, #2f80ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sideNav ul li .nav-item {
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sideNav ul li .nav-item:hover {
  cursor: pointer;
}

#sideNav ul li .nav-item:hover .fas {
  background: -webkit-gradient(linear, left top, right top, from(#56ccf2), to(#2f80ed));
  background: linear-gradient(90deg, #56ccf2 0%, #2f80ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sideNav ul li .nav-item i {
  font-size: 2rem;
  padding-bottom: 6px;
}

#sideNav ul li .nav-item p {
  text-align: center;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

#map {
  position: fixed;
  left: 80px;
  width: calc(100vw - 80px);
  height: 100vh;
}

.submenu {
  position: absolute;
  left: -100%;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submenu.active {
  display: block;
  left: 80px;
  height: 100vh;
  min-width: 300px;
  background: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.submenu.active .submenu-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #485563), to(#29323c));
  background: linear-gradient(90deg, #485563 5%, #29323c 100%);
  padding: 1rem 2rem 1rem 3rem;
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submenu.active .submenu-header h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.submenu.active .submenu-header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}

.submenu.active .submenu-header .close-submenu:hover {
  cursor: pointer;
}

.submenu.active .submenu-content {
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #757575;
}

.submenu.active .submenu-content h4 {
  margin-bottom: 1rem;
}

.submenu.active .submenu-content > div {
  margin-bottom: 1.5rem;
}

#map-style-selection #map-selection-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

#map-style-selection #map-selection-grid div {
  background-size: cover;
  height: 100px;
  width: 100px;
}

#map-style-selection #map-selection-grid div:hover {
  cursor: pointer;
  border: 2px solid lightskyblue;
}

#map-style-selection #map-selection-grid div.active {
  border: 2px solid lightskyblue;
}

#accidents #bulk-accident-import #accident-file-drop {
  height: 80px;
  width: 100%;
  background: #eee;
  border-radius: 12px;
  border: 4px dashed #dad5d5;
  margin-bottom: 1rem;
}

#accidents #bulk-accident-import #accident-file-drop p {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  color: #dad5d5;
}

#filters #accident-type-filter .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

#filters #accident-type-filter .checkbox-container:last-of-type {
  margin-bottom: 0;
}

#filters #accident-type-filter .checkbox-container input:hover {
  cursor: pointer;
}

#filters #accident-type-filter .checkbox-container label {
  display: inline-block;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

#filters #streetname-filter select {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

#filters #streetname-filter select option {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

#filters #streetname-filter p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
}
/*# sourceMappingURL=style.css.map */